.App {
  text-align: center;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #f4f4f4;
  min-height: 100vh;
}

.App-header {
  background-color: #282c34;
  color: white;
  padding: 20px 0;
}

.App-header h1 {
  margin: 0;
  font-size: 2.5rem;
}

main {
  padding: 20px;
}

footer {
  margin-top: 20px;
  padding: 10px 0;
  background-color: #282c34;
  color: white;
}
